In [ ]:
# Renaming col names
somedata = (
    somedata
    .withColumnRenamed('col 1','col_1')
    .withColumnRenamed('col 2','col_2')
)

In [ ]:
# Filter
somedata[
    (somedata.col_1 == 'H') &
    (somedata.col_2 == 'United States of America')
].show(5,False)

# alternative 1
(
    somedata
    .filter(somedata.col_1 == 'Online')
    .filter(somedata.col_2 == 'North America')
    .show(5,False)
)

# alternative 2
(
    somedata
    .filter('col_5<5 and (col_1 <> col_3 or (col_1 = col_3 and col_2 <> col_4))')
    .show()
)

# alternative 3
(
    somedata
    .where(((somedata.col_1 > 5000) | (somedata.col_2 >= 100000))
           & (somedata.col_3 >= 1000000)
    )
    .show(5,False)
)

# with sql.functions - use `|` instead of `or`
from pyspark.sql.functions import col, asc

somedata = (
    somedata
    .filter((col("col_1") == "xiangrui") | (col("col_2") == "michael"))
    .sort(asc("col_1"))
)
display(somedata)

In [ ]:
# groupby and agg
(
    somedata
    .groupby(['col_1', 'col_2'])
    .agg(F.sum('col_1').alias('total_value'))
    #.agg(F.mean('col_1').alias('mean_value'))
    .show(5,False)
)

In [ ]:
# collect set
(
    somedata
    .groupby('col_1')
    .agg(F.collect_set('col_with_list_values'))
    .show(5)
)

In [ ]:
# join
join_data = somedata.join(otherdata, on='col_with_same_name')

In [ ]:
#union
union_data = somedata_1.union(somedata_2)

In [ ]:
# pivot
(
    somedata
    .groupby('col_1')
    .pivot('col_2')
    .sum('col_value')
    .fillna(0)
    .show(5,False)
)

In [ ]:
# window function

from pyspark.sql.window import Window
from pyspark.sql.functions import col,row_number

# creating a window
my_window = Window.orderBy(somedata['col_1'].desc())

# ranking over the window
somedata = somedata.withColumn('rank',row_number().over(my_window).alias('rank'))